//Copyright (C)2014-2024 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.9.03 (64-bit)
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9
//Device Version: C
//Created Time: Sun 09 29 22:52:13 2024

IO_LOC "o_LED[5]" 16;
IO_PORT "o_LED[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_LED[4]" 15;
IO_PORT "o_LED[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_LED[3]" 14;
IO_PORT "o_LED[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_LED[2]" 13;
IO_PORT "o_LED[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_LED[1]" 11;
IO_PORT "o_LED[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_LED[0]" 10;
IO_PORT "o_LED[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_SPDIF" 77;
IO_PORT "o_SPDIF" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "i_UART_TX" 17;
IO_PORT "i_UART_TX" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_ADDRDATA[7]" 34;
IO_PORT "o_ADDRDATA[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_ADDRDATA[6]" 33;
IO_PORT "o_ADDRDATA[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_ADDRDATA[5]" 30;
IO_PORT "o_ADDRDATA[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_ADDRDATA[4]" 29;
IO_PORT "o_ADDRDATA[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_ADDRDATA[3]" 28;
IO_PORT "o_ADDRDATA[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_ADDRDATA[2]" 27;
IO_PORT "o_ADDRDATA[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_ADDRDATA[1]" 26;
IO_PORT "o_ADDRDATA[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_ADDRDATA[0]" 25;
IO_PORT "o_ADDRDATA[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_A0" 40;
IO_PORT "o_A0" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_OPLL_CS_n" 56;
IO_PORT "o_OPLL_CS_n" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_PSG_CS_n" 55;
IO_PORT "o_PSG_CS_n" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_WARN_FULLY" 63;
IO_PORT "o_WARN_FULLY" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_DAC2_L_R" 54;
IO_PORT "o_DAC2_L_R" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_DAC1_L_R" 53;
IO_PORT "o_DAC1_L_R" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_DAC_CLK" 51;
IO_PORT "o_DAC_CLK" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_DAC_WS" 42;
IO_PORT "o_DAC_WS" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "i_UART_RX" 18;
IO_PORT "i_UART_RX" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "i_SPI_MOSI" 48;
IO_PORT "i_SPI_MOSI" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "i_SPI_CLK" 31;
IO_PORT "i_SPI_CLK" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "i_SPI_CS_n" 49;
IO_PORT "i_SPI_CS_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "i_CLK_3M072" 41;
IO_PORT "i_CLK_3M072" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "i_CLK_3M58" 35;
IO_PORT "i_CLK_3M58" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "i_RST_n" 57;
IO_PORT "i_RST_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
